.projects-header {
  font-size: 2.5em;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.projects-divider {
  /* height: 250vh; */
  background-color: #1e1354;
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.projects-divider:before {
  background: inherit;
  top: 0;
  content: "";
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(1.5deg);
  transform-origin: 100%;
  z-index: -1;
  box-shadow: 0 -5px 5px #0e053c;
  /* box-shadow: 0 0 5px#1c0a74; */
}

.projects-divider:after {
  background: inherit;
  bottom: 0;
  content: "";
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
  box-shadow: 0 5px 5px #0e053c;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.project-card:hover {
  box-shadow: 0 0 5px 2px #0e053c;
}

.project-title-gif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.project-title-gif > img {
  width: 400px;
  box-shadow: 5px 5px 5px #0e053c;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  padding-left: 50px;
}

@media only screen and (max-width: 1000px) {
  .project-card {
    flex-direction: column-reverse;
    padding: 30px;
  }

  .project-description {
    padding-left: 0px;
  }
}
