.skills {
  width: 100px;
  height: 100%;
  /* background-color: #1e1354; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  z-index: 100;
  /* box-shadow: 0 0 3px 2px #0e053c; */
}

.skills.hide {
  visibility: hidden;
}

.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65px;
  font-size: 0.7em;
}

.skill-container.off {
  color: grey;
}

.skill-container.on {
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff
}

h3 {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff
}

@media only screen and (max-width: 700px) {
  .skills {
    visibility: hidden;
  }
}