body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  margin: 0;
}

h3 {
  font-size: 1rem;
  
}
