.projects-divider {
  height: 250vh;
  /* background-color: #1c0a74; */
  background-color: #1e1354;
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.projects-divider:before {
  background: inherit;
  top: 0;
  content: "";
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(1.5deg);
  transform-origin: 100%;
  z-index: -1;
  box-shadow: 0 -5px 5px #0e053c;
  /* box-shadow: 0 0 5px#1c0a74; */
}

.projects-divider:after {
  background: inherit;
  bottom: 0;
  content: "";
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
  box-shadow: 0 5px 5px #0e053c;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 150vh; */
  padding: 50px;
}

.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}

.project-title-gif {
  display: flex;
  flex-direction: column;
}

.project-title-gif > img {
  width: 400px;
  box-shadow: 5px 5px 5px #0e053c;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: left;
  padding-left: 100px;

}

